* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f0fa; /* Light blue background */
    color: #000000; /* Black text */
}
header {
    background-color: #b3d4fc; /* Slightly darker light blue for the header */
    color: #000000; /* Black text */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 70px; /* Increased font size */
    color: #0056b3; /* Darker shade of blue for emphasis */
    margin-bottom: 20px;
}

p {
    font-size: 20px; /* Increased font size */
    margin-bottom: 20px;

}
.name-large {
    font-weight: bold; /* Bold text */
    text-align: center;
    font-size: 7em;
    /* margin: 0; */

}

.header-name {
    font-size: 35px;
    text-align: left;
}

.nav ul {
    list-style-type: none;
    margin: 30px;
    padding: 15px;
    text-align: right; /* Center the navigation menu */
}
.nav ul li {
    display: inline;
    margin-right: 20;
    padding: 0;
}
.nav a, .links a {
    padding: .5em;
    text-decoration: none;
    color: black; /* Black text for links */
    display: inline-block;
}

.nav a:hover, .links a:hover {
    background-color: rgba(255,255,255,.5);
    /* color: #0056b3; Darker shade of blue on hover */
}

.main-nav {
    text-align: center;
    font-size: 1.35em;
}

main {
    padding: 20px;
    text-align: center; /* Center content in main */
}

.links a {
    margin: 0 25px;
    color: #007bff; /* Bright blue for links for easy identification */
    font-weight: bold;
}
.links {
    margin-top: 30px; /* Add space above links */
}

.content-section {
    margin: 1em;
    padding: 20px;
    /*background-color: #ffffff; /* White background */
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
